{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    <div class="col s6 offset-s3">
    {{ form_start(postForm, { 'action': path('createPost'), 'method': 'POST'})
    }}

    {{ form_row(postForm.title) }}
    {{ form_row(postForm.text) }}
    {{ form_row(postForm.autor) }}
    <button type="submit" class="btn ">Create</button>
    {{ form_end(postForm) }}
    </div>
    </div>


</div>

{% endblock %}
