{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    <div class="col s6 offset-s3">
    {{ form_start(postForm, { 'action': path('createPost'), 'method': 'POST'})
    }}

    {{ form_row(postForm.title) }}
    {{ form_row(postForm.text) }}
    {{ form_row(postForm.autor) }}
    <button type="submit" class="btn ">create</button>
    {{ form_end(postForm) }}
    </div>
    </div>

    <ul>
    {% for p in post %}
    <li>
       <b>{{ p.title }}</b>
    </li>

        <li>
            <b> {{ p.text }}</b>
        </li>
        <li>
            <b>{{ p.autor }}</b>
        </li>

<form action="/post/{{p.id}}" >
    <button type="submit" class="btn-small cyan ">delete</button>
</form>
    <hr>

   {% endfor %}
    </ul>
</div>

{% endblock %}
