{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(postForm, { 'action': path('createPost'), 'method': 'POST'
    })}}

    {{ form_widget(postForm) }}
    <button type="submit">create</button>
    {{ form_end(postForm) }}


    {% for p in post %}
    <p>
        {{ p.title }}
    </p>

    <p>
        {{ p.text }}
    </p>

    <p>
        {{ p.autor }}
    </p>
<form action="/post/{{p.id}}" >
    <button type="submit">delete</button>
</form>
    <hr>

   {% endfor %}
</div>

{% endblock %}
